<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
  <form action="/team" method="POST">
    <p style="display:inline">Team Name:</p> <input name=name type="text"> <br>
    <p style="display:inline">Coach:</p> <input name=coach type="text"> <br>
    <p style="display:inline">Point Guard:</p> <input name=pg type= "text"> <br>
    <p style="display:inline">Shooting Guard:</p> <input name=sg type= "text"> <br>
    <p style="display:inline">Small Forward:</p> <input name=sf type= "text"> <br>
    <p style="display:inline">Power Forward:</p> <input name=pf type= "text"> <br>
    <p style="display:inline">Center:</p> <input name=c type= "text"> <br>
    <input id=Submit type="submit">
  </form>
 </head>
 <body>
 </body>
</html>
